doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description', content='')
  meta(name='author', content='')
  title Quản lý - Forgot Password
  link(href='/vendor/fontawesome-free/css/all.min.css', rel='stylesheet', type='text/css')
  link(href='/css/sb-admin.css', rel='stylesheet')
.container
  .card.card-login.mx-auto.mt-5
    .card-header Reset Password
    .card-body
      .text-center.mb-4
        h4 Quên mật khẩu?
        p Nhập địa chỉ email của bạn.
      form
        .form-group
          .form-label-group
            input#inputEmail.form-control(type='email', placeholder='Enter email address', required='required', autofocus='autofocus')
            label(for='inputEmail') Enter email address
        a.btn.btn-primary.btn-block(href='/admin/login') Reset Password
      .text-center
        a.d-block.small.mt-3(href='/admin/register') Đăng kí tài khoản
        a.d-block.small(href='/admin/login') Đăng nhập
script(src='/vendor/jquery/jquery.min.js')
script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
script(src='/vendor/jquery-easing/jquery.easing.min.js')
