doctype html
head
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
meta(name='description', content='')
meta(name='author', content='')
title Quản lý - Register
link(href='/vendor/fontawesome-free/css/all.min.css', rel='stylesheet', type='text/css')
link(href='/css/sb-admin.css', rel='stylesheet')
.container
.card.card-register.mx-auto.mt-5
  .card-header Đăng kí tài khoản
  .card-body
    form(action="/admin/register",method="POST",enctype="multipart/form-data")
      .form-group
        .form-label-group
          input#inputName.form-control(type='text',name='name',placeholder='Name', required='required', autofocus='autofocus',value = values ? values.name : '')
          label(for='inputName') Name
      .form-group
        .form-label-group
          input#inputEmail.form-control(type='email',name='email', placeholder='Email address', required='required',value = values ? values.email : '')
          label(for='inputEmail') Email address
      .form-group
        .form-row
          .col-md-6
            .form-label-group
              input#inputPassword.form-control(type='password',name='password', placeholder='Password', required='required',value = values ? values.password : '')
              label(for='inputPassword') Password
          .col-md-6
            .form-label-group
              input#confirmPassword.form-control(type='password',name='confirmpassword', placeholder='Confirm password', required='required')
              label(for='confirmPassword') Confirm password
      .form-group
        .form-label-group
          input#inputAvatar.form-control(type='file',name='avatar', placeholder='Avatar', required='required')
          label(for='inputAvatar') Avatar
      button.mt-3(class="btn btn-primary",style='width:200px;margin-left:200px;') Đăng kí
    .text-center
      a.d-block.small.mt-3(href='/admin/login') Đăng nhập
      a.d-block.small(href='/admin/forgot-password') Quên mật khẩu?
script(src='/vendor/jquery/jquery.min.js')
script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
script(src='/vendor/jquery-easing/jquery.easing.min.js')
