extends ../layouts/common

block content
  .container.pt-5
  .mid_content
  .ct-div-sub
    ul.list_articles
      li
        p.title-art-list
          a(title='Triệu chứng sốt xuất huyết thường có biểu hiện thế nào?', href='/chia-se-nguoi-benh-ve-xuat-huyet-giam-tieu-cau/trieu-chung-sot-xuat-huyet-thuong-co-bieu-hien-the-nao.html',style="font-size:20px;font-weight:bold") Tri&#x1EC7;u ch&#x1EE9;ng s&#x1ED1;t xu&#x1EA5;t huy&#x1EBF;t th&#x1B0;&#x1EDD;ng c&oacute; bi&#x1EC3;u hi&#x1EC7;n th&#x1EBF; n&agrave;o?
        div
          a.images(title='Triệu chứng sốt xuất huyết thường có biểu hiện thế nào?', href='/chia-se-nguoi-benh-ve-xuat-huyet-giam-tieu-cau/trieu-chung-sot-xuat-huyet-thuong-co-bieu-hien-the-nao.html')
            img(src='/images/chiasenguoibenh1.jpg',width="200", alt='Triệu chứng sốt xuất huyết thường có biểu hiện thế nào?', title='Triệu chứng sốt xuất huyết thường có biểu hiện thế nào?')
        .intro_art
          p.art_date 24-09-2017 // 693 l&#x1B0;&#x1EE3;t xem
          p
            | B&#x1EC7;nh s&#x1ED1;t xu&#x1EA5;t huy&#x1EBF;t v&#x1EDB;i c&aacute;c bi&#x1EC3;u hi&#x1EC7;n v&agrave; tri&#x1EC7;u ch&#x1EE9;ng kh&aacute; gi&#x1ED1;ng m&#x1ED9;t s&#x1ED1; b&#x1EC7;nh kh&aacute;c c&utilde;ng g&acirc;y s&#x1ED1;t  nh&#x1B0; c&aacute;c lo&#x1EA1;i b&#x1EC7;nh s&#x1ED1;t si&ecirc;u vi, s&#x1ED1;t ph&aacute;t ban. n&ecirc;n &dstrok;&ocirc;i khi v&igrave; nh&#x1EEF;ng nguy&ecirc;n nh&acirc;n ch&#x1EE7; quan m&agrave; ch&uacute;ng ta kh&ocirc;ng quan s&aacute;t k&#x1EF9; v&agrave; &dstrok;&atilde; b&#x1ECF; qua nh&#x1EEF;ng chi ti&#x1EBF;t nh&#x1ECF;. Vi&#x1EC7;c nh&#x1EA7;m l&#x1EAB;n tri&#x1EC7;u ch&#x1EE9;ng b&#x1EC7;nh c&oacute; th&#x1EC3; d&#x1EAB;n &dstrok;&#x1EBF;n vi&#x1EC7;c ch&#x1EA9;n &dstrok;o&aacute;n v&agrave; &dstrok;i&#x1EC1;u tr&#x1ECB; sai h&#x1B0;&#x1EDB;ng,  l&agrave;m cho b&#x1EC7;nh di&#x1EC5;n bi&#x1EBF;n ng&agrave;y c&agrave;ng t&abreve;ng n&#x1EB7;ng v&agrave; r&#x1EA5;t d&#x1EC5; g&acirc;y ra nh&#x1EEF;ng bi&#x1EBF;n ch&#x1EE9;ng ph&#x1EE9;c t&#x1EA1;p d&#x1EAB;n &dstrok;&#x1EBF;n nhi&#x1EC1;u nguy hi&#x1EC3;m kh&ocirc;ng l&#x1B0;&#x1EDD;ng cho t&iacute;nh m&#x1EA1;ng c&#x1EE7;a b&#x1EA3;n th&acirc;n c&utilde;ng nh&#x1B0;  ng&#x1B0;&#x1EDD;i th&acirc;n trong gia &dstrok;&igrave;nh.
        p
          a(href='/chia-se-nguoi-benh-ve-xuat-huyet-giam-tieu-cau/trieu-chung-sot-xuat-huyet-thuong-co-bieu-hien-the-nao.html', title='Chi tiết') Chi ti&#x1EBF;t &rarr;
      li
        p.title-art-list
          a(title='Nếu em nghe lời chị Gan của em không tan nát thế này?',,style="font-size:20px;font-weight:bold", href='/chia-se-nguoi-benh-ve-xuat-huyet-giam-tieu-cau/neu-em-nghe-loi-chi-gan-cua-em-khong-tan-nat-the-nay.html') N&#x1EBF;u em nghe l&#x1EDD;i ch&#x1ECB; Gan c&#x1EE7;a em kh&ocirc;ng tan n&aacute;t th&#x1EBF; n&agrave;y?
        div
          a.images(title='Nếu em nghe lời chị Gan của em không tan nát thế này?', href='/chia-se-nguoi-benh-ve-xuat-huyet-giam-tieu-cau/neu-em-nghe-loi-chi-gan-cua-em-khong-tan-nat-the-nay.html')
            img(src='/images/chiasenguoibenh2.jpg',width="200", alt='Nếu em nghe lời chị Gan của em không tan nát thế này?', title='Nếu em nghe lời chị Gan của em không tan nát thế này?')
        .intro_art
          p.art_date 20-09-2017 // 574 l&#x1B0;&#x1EE3;t xem
          p
            | Ng&#x1B0;&#x1EDD;i b&#x1ECB; b&#x1EC7;nh gia&#x309;m ti&ecirc;&#x309;u v&ocirc; c&abreve;n n&#x1EBF;u c&oacute; ki&#x1EBF;n th&#x1EE9;c, bi&#x1EBF;t c&aacute;ch ch&#x1ECD;n l&#x1ECD;c ph&#x1B0;&#x1A1;ng ph&aacute;p ch&#x1EEF;a tr&#x1ECB; s&#x1EBD; kh&ocirc;ng g&acirc;y nguy hi&#x1EC3;m cho t&iacute;nh m&#x1EA1;ng m&agrave; l&#x1EA1;i &dstrok;&#x1EA3;m b&#x1EA3;o &dstrok;&#x1B0;&#x1EE3;c s&#x1EE9;c kh&#x1ECF;e . V&#x1EAB;n s&#x1ED1;ng kh&#x1ECF;e s&#x1ED1;ng vui. Vi&#x1EC7;c t&#x1EF1; t&igrave;m hi&#x1EC3;u b&#x1EC7;nh t&igrave;nh c&#x1EE7;a ch&iacute;nh m&igrave;nh, ch&#x1EAF;t l&#x1ECD;c ph&#x1B0;&#x1A1;ng ph&aacute;p t&#x1EF1; ch&#x1EEF;a b&#x1EC7;nh hay n&oacute;i &dstrok;&uacute;ng h&#x1A1;n t&#x1B0; &dstrok;i&#x1EC1;u ch&#x1EC9;nh c&aacute;ch ch&#x1EEF;a tr&#x1ECB; cho b&#x1EA3;n th&acirc;n nhi&#x1EC1;u khi &dstrok;em l&#x1EA1;i k&#x1EBF;t qu&#x1EA3; r&#x1EA5;t t&#x1ED1;t h&#x1A1;n c&#x1EA3; nh&#x1EEF;ng ng&#x1B0;&#x1EDD;i b&#x1EC7;nh gi&#x1EA3;m ti&#x1EC3;u c&#x1EA7;u v&ocirc; c&abreve;n tr&ocirc;ng &dstrok;&#x1EE3;i v&agrave;o b&#x1EC7;nh vi&#x1EC7;n hay b&aacute;c s&itilde;. B&#x1EC7;nh s&#x1EBD; c&agrave;ng n&#x1EB7;ng h&#x1A1;n v&agrave; c&agrave;ng d&#x1EC5; r&#x1A1;i v&agrave;o nguy hi&#x1EC3;m h&#x1A1;n khi c&#x1EE9; li&ecirc;n t&#x1EE5;c u&#x1ED1;ng thu&#x1ED1;c t&acirc;y v&agrave; &dstrok;i&#x1EC3;u tr&#x1ECB; &#x1EDF; b&#x1EC7;nh vi&#x1EC7;n. Ch&uacute;ng t&ocirc;i &dstrok;&atilde; ch&#x1EE9;ng ki&#x1EBF;n r&#x1EA5;t nhi&#x1EC1;u nh&#x1EEF;ng tr&#x1B0;&#x1EDD;ng h&#x1EE3;p &dstrok;au l&ograve;ng nh&#x1B0; th&#x1EBF;. V&agrave; nh&#x1EEF;ng b&#x1EC7;nh nh&acirc;n ch&uacute;ng t&ocirc;i s&#x1EAF;p chia s&#x1EBB; cho Qu&yacute; v&#x1ECB; d&#x1B0;&#x1EDB;i &dstrok;&acirc;y s&#x1EBD; it nhi&#x1EC1;u &dstrok;&#x1B0;a &dstrok;&#x1EBF;n th&ocirc;ng &dstrok;i&#x1EC7;p qu&yacute; gi&aacute; v&agrave; b&agrave;i h&#x1ECD;c cho Qu&yacute; v&#x1ECB;.
        p
          a(href='/chia-se-nguoi-benh-ve-xuat-huyet-giam-tieu-cau/neu-em-nghe-loi-chi-gan-cua-em-khong-tan-nat-the-nay.html', title='Chi tiết') Chi ti&#x1EBF;t &rarr;
      li
        p.title-art-list
          a(title='Có phải bệnh bệnh xuất huyết giảm tiểu cầu chết rất nhanh không?',style="font-size:20px;font-weight:bold", href='/chia-se-nguoi-benh-ve-xuat-huyet-giam-tieu-cau/co-phai-benh-benh-xuat-huyet-giam-tieu-cau-chet-rat-nhanh-khong.html') C&oacute; ph&#x1EA3;i b&#x1EC7;nh b&ecirc;&#x323;nh xu&#x1EA5;t huy&#x1EBF;t gia&#x309;m ti&ecirc;&#x309;u c&acirc;&#x300;u ch&ecirc;&#x301;t r&#x1EA5;t nhanh kh&ocirc;ng?
        div
          a.images(title='Có phải bệnh bệnh xuất huyết giảm tiểu cầu chết rất nhanh không?', href='/chia-se-nguoi-benh-ve-xuat-huyet-giam-tieu-cau/co-phai-benh-benh-xuat-huyet-giam-tieu-cau-chet-rat-nhanh-khong.html')
            img(src='/images/chiasenguoibenh2.jpg',width="200", alt='Có phải bệnh bệnh xuất huyết giảm tiểu cầu chết rất nhanh không?', title='Có phải bệnh bệnh xuất huyết giảm tiểu cầu chết rất nhanh không?')
        .intro_art
          p.art_date 21-08-2017 // 1,237 l&#x1B0;&#x1EE3;t xem
          p
            | B&ecirc;&#x323;nh gia&#x309;m ti&ecirc;&#x309;u c&acirc;&#x300;u th&#x1B0;&#x323;c t&ecirc;&#x301; co&#x301; nguy hi&ecirc;&#x309;m &dstrok;&ecirc;&#x301;n ti&#x301;nh ma&#x323;ng hay kh&ocirc;ng? Co&#x301; le&#x303; nhi&ecirc;&#x300;u ng&#x1B0;&#x1A1;&#x300;i v&acirc;&#x303;n co&#x300;n chu&#x309; quan va&#x300; suy nghi&#x303; kha&#x301; &dstrok;&#x1A1;n gia&#x309;n v&ecirc;&#x300; c&abreve;n b&ecirc;&#x323;nh na&#x300;y. Tuy nhi&ecirc;n, b&ecirc;&#x323;nh gia&#x309;m ti&ecirc;&#x309;u c&acirc;&#x300;u v&ocirc; c&abreve;n c&oacute; nguy hi&#x1EC3;m nh&#x1B0; b&ecirc;&#x323;nh ung th&#x1B0; ma&#x301;u va&#x300; m&ocirc;&#x323;t s&ocirc;&#x301; b&ecirc;&#x323;nh ung th&#x1B0; kha&#x301;c hay kh&ocirc;ng thi&#x300; no&#x301; ch&#x1B0;a pha&#x309;i &dstrok;&ecirc;&#x301;n m&#x1B0;&#x301;c g&acirc;y hoang mang va&#x300; lo s&#x1A1;&#x323; cho ti&#x301;nh ma&#x323;ng c&#x1EE7;a ng&#x1B0;&#x1A1;&#x300;i b&ecirc;&#x323;nh nh&#x1B0; nh&#x1B0;&#x303;ng b&ecirc;&#x323;nh nh&acirc;n m&abreve;&#x301;c b&ecirc;&#x323;nh ung th&#x1B0; kha&#x301;c. Th&ecirc;&#x301; nh&#x1B0;ng n&ecirc;&#x301;u ti&#x300;m hi&ecirc;&#x309;u ky&#x303; &dstrok;&#x1B0;&#x1A1;&#x323;c c&abreve;n b&ecirc;&#x323;nh na&#x300;y thi&#x300; th&#x1B0;&#x323;c t&ecirc;&#x301; B&ecirc;&#x323;nh gia&#x309;m ti&ecirc;&#x309;u c&acirc;&#x300;u v&ocirc; c&abreve;n kh&ocirc;ng h&ecirc;&#x300; &dstrok;&#x1A1;n  gia&#x309;n nh&#x1B0; mo&#x323;i ng&#x1B0;&#x1A1;i v&acirc;&#x303;n nghi&#x303;. B&ecirc;&#x323;nh co&#x300;n c&oacute; th&ecirc;&#x309; g&acirc;y ch&ecirc;&#x301;t ng&#x1B0;&#x1EDD;i nhanh h&#x1A1;n ca&#x301;c b&ecirc;&#x323;nh ung th&#x1B0; kha&#x301;c. Chu&#x301;ng t&ocirc;i co&#x301; th&ecirc;&#x309; li&ecirc;&#x323;t k&ecirc; nh&#x1B0;&#x303;ng b&ecirc;&#x323;nh nh&acirc;n trong ti&#x300;nh tra&#x323;ng  nh&#x1B0; v&acirc;&#x323;y &dstrok;&ecirc;&#x309; nh&#x1B0;&#x303;ng ng&#x1B0;&#x1A1;&#x300;i th&acirc;n va&#x300; ba&#x309;n th&acirc;n ng&#x1B0;&#x1A1;i b&ecirc;&#x323;nh gia&#x309;m ti&ecirc;&#x309;u c&acirc;&#x300;u v&ocirc; c&abreve;n co&#x301; th&ecirc;&#x309; &dstrok;&ecirc;&#x300; pho&#x300;ng va&#x300; l&#x1B0;&#x323;a ch&#x1ECD;n ph&#x1B0;&#x1A1;ng pha&#x301;p ch&#x1B0;&#x303;a tri&#x323; t&ocirc;&#x301;t nh&acirc;&#x301;t cho chi&#x301;nh mi&#x300;nh va&#x300; cho ng&#x1B0;&#x1A1;&#x300;i th&acirc;n y&ecirc;u cu&#x309;a mi&#x300;nh.
        p
          a(href='/chia-se-nguoi-benh-ve-xuat-huyet-giam-tieu-cau/co-phai-benh-benh-xuat-huyet-giam-tieu-cau-chet-rat-nhanh-khong.html', title='Chi tiết') Chi ti&#x1EBF;t &rarr;
      li
        p.title-art-list
          a(title='Bệnh Lupus dẫn đến giảm tiểu cầu có chữa ITP Bloodwell được không?',style="font-size:20px;font-weight:bold", href='/chia-se-nguoi-benh-ve-xuat-huyet-giam-tieu-cau/benh-lupus-dan-den-giam-tieu-cau-co-chua-itp-bloodwell-duoc-khong.html') B&#x1EC7;nh Lupus d&#x1EAB;n &dstrok;&#x1EBF;n gi&#x1EA3;m ti&#x1EC3;u c&#x1EA7;u c&oacute; ch&#x1EEF;a ITP Bloodwell &dstrok;&#x1B0;&#x1EE3;c kh&ocirc;ng?
        div
          a.images(title='Bệnh Lupus dẫn đến giảm tiểu cầu có chữa ITP Bloodwell được không?', href='/chia-se-nguoi-benh-ve-xuat-huyet-giam-tieu-cau/benh-lupus-dan-den-giam-tieu-cau-co-chua-itp-bloodwell-duoc-khong.html')
            img(src='/images/chiasenguoibenh3.jpg',width="200", alt='Bệnh Lupus dẫn đến giảm tiểu cầu có chữa ITP Bloodwell được không?', title='Bệnh Lupus dẫn đến giảm tiểu cầu có chữa ITP Bloodwell được không?')
        .intro_art
          p.art_date 24-07-2017 // 1,246 l&#x1B0;&#x1EE3;t xem
          p
            | Ai c&utilde;ng n&oacute;i c&oacute; b&#x1EC7;nh th&igrave; v&aacute;i t&#x1EE9; ph&#x1B0;&#x1A1;ng. M&#x1ED9;t khi m&#x1EAF;c ph&#x1EA3;i c&abreve;n b&#x1EC7;nh nan y kh&oacute; ch&#x1EEF;a ng&#x1B0;&#x1EDD;i b&#x1EC7;nh th&#x1B0;&#x1EDD;ng t&igrave;m &dstrok;&#x1EBF;n r&#x1EA5;t nhi&#x1EC1;u ph&#x1B0;&#x1A1;ng ph&aacute;p, &Dstrok;&ocirc;ng, T&acirc;y, Nam B&#x1EAF;c. V&agrave; nh&#x1EEF;ng ai m&#x1EAF;c b&#x1EC7;nh Lupus ban &dstrok;&#x1ECF; th&#x1EAD;t s&#x1EF1;  vi&#x1EC7;c ch&#x1EEF;a tr&#x1ECB; s&#x1EBD; kh&ocirc;ng h&#x1EC3; &dstrok;&#x1A1;n gi&#x1EA3;n. Nh&#x1B0;ng n&#x1EBF;u kh&ocirc;ng bi&#x1EBF;t ch&#x1ECD;n l&#x1EF1;a ph&#x1B0;&#x1A1;ng ph&aacute;p ch&#x1EEF;a b&#x1EC7;nh th&igrave; b&#x1EC7;nh kh&ocirc;ng nh&#x1EEF;ng kh&ocirc;ng kh&#x1ECF;i m&agrave; c&ograve;n n&#x1EB7;ng h&#x1A1;n n&#x1EEF;a, ti&#x1EC1;n th&igrave; m&#x1EA5;t t&#x1EAD;t v&#x1EAB;n mang. V&igrave; v&#x1EAD;y, h&ocirc;m nay ch&uacute;ng t&ocirc;i xin g&#x1EED;i &dstrok;&#x1EBF;n Qu&yacute; v&#x1ECB; m&#x1ED9;t trong nh&#x1EEF;ng ng&#x1B0;&#x1EDD;i bi&#x1EBF;t ch&#x1ECD;n l&#x1ECD;c v&agrave; ch&#x1EEF;a b&#x1EC7;nh th&ocirc;ng minh gi&uacute;p b&#x1EA3;n th&acirc;n v&agrave; gia &dstrok;&igrave;nh tho&aacute;t kh&#x1ECF;i nh&#x1EEF;ng cu&#x1ED9;c n&#x1EB1;m vi&#x1EC7;n hay ch&abreve;m b&#x1EC7;nh k&eacute;o d&agrave;i g&acirc;y h&#x1EC7; l&#x1EE5;y cho b&#x1ED1; m&#x1EB9; gia &dstrok;&igrave;nh v&agrave; ch&iacute;nh b&#x1EA3;n th&acirc;n m&igrave;nh.
        p
          a(href='/chia-se-nguoi-benh-ve-xuat-huyet-giam-tieu-cau/benh-lupus-dan-den-giam-tieu-cau-co-chua-itp-bloodwell-duoc-khong.html', title='Chi tiết') Chi ti&#x1EBF;t &rarr;
      li
        p.title-art-list
          a(title='19 Thang tuổi bị bệnh giảm tiểu cầu tiền chất cao hơn người bé',style="font-size:20px;font-weight:bold", href='/chia-se-nguoi-benh-ve-xuat-huyet-giam-tieu-cau/19-thang-tuoi-bi-benh-giam-tieu-cau-tien-chat-cao-hon-nguoi-be.html') 19 Thang tu&#x1ED5;i b&#x1ECB; b&#x1EC7;nh gi&#x1EA3;m ti&#x1EC3;u c&#x1EA7;u ti&#x1EC1;n ch&#x1EA5;t cao h&#x1A1;n ng&#x1B0;&#x1EDD;i b&eacute;
        div
          a.images(title='19 Thang tuổi bị bệnh giảm tiểu cầu tiền chất cao hơn người bé', href='/chia-se-nguoi-benh-ve-xuat-huyet-giam-tieu-cau/19-thang-tuoi-bi-benh-giam-tieu-cau-tien-chat-cao-hon-nguoi-be.html')
            img(src='/images/chiasenguoibenh4.jpg',width="200", alt='19 Thang tuổi bị bệnh giảm tiểu cầu tiền chất cao hơn người bé', title='19 Thang tuổi bị bệnh giảm tiểu cầu tiền chất cao hơn người bé')
        .intro_art
          p.art_date 10-07-2017 // 707 l&#x1B0;&#x1EE3;t xem
          p
            | Co&#x301; th&ecirc;&#x309; no&#x301;i b&ecirc;&#x323;nh xu&#x1EA5;t huy&#x1EBF;t gia&#x309;m ti&ecirc;&#x309;u v&ocirc; c&abreve;n la&#x300; b&ecirc;&#x323;nh &dstrok;&#x1B0;&#x1A1;&#x323;c x&ecirc;&#x301;p ngang ha&#x300;ng v&#x1A1;&#x301;i b&ecirc;&#x323;nh ung th&#x1B0; vi&#x300; no&#x301; t&ocirc;&#x301;n r&acirc;&#x301;t nhi&ecirc;&#x300;u th&#x1A1;&#x300;i gian ti&ecirc;&#x300;n ba&#x323;c va&#x300; ha&#x323;nh phu&#x301;c gia &dstrok;i&#x300;nh nhi&ecirc;&#x300;u nh&acirc;&#x301;t. Nh&#x1B0;ng n&ecirc;&#x301;u b&ecirc;&#x323;nh r&#x1A1;i va&#x300;o ng&#x1B0;&#x1A1;&#x300;i l&#x1A1;&#x301;n tu&ocirc;&#x309;i thi&#x300; ng&#x1B0;&#x1A1;&#x300;i th&acirc;n gia &dstrok;i&#x300;nh co&#x300;n &dstrok;&#x1A1;&#x303; lo l&abreve;&#x301;ng vi&#x300; ba&#x309;n th&acirc;n ng&#x1B0;&#x1A1;&#x300;i b&ecirc;&#x323;nh bi&ecirc;&#x301;t t&#x1B0;&#x323; ch&abreve;m so&#x301;c cho mi&#x300;nh. Co&#x300;n n&ecirc;&#x301;u b&ecirc;&#x323;nh xu&acirc;&#x301;t huy&ecirc;&#x301;t gia&#x309;m ti&ecirc;&#x309;u c&acirc;&#x300;u &#x1A1;&#x309; tre&#x309; nho&#x309; ma&#x300; b&ecirc;&#x323;nh ma&#x303;n ti&#x301;nh v&ocirc; c&abreve;n thi&#x300; th&acirc;&#x323;t s&#x1B0;&#x323; la&#x300; khu&#x309;ng khoa&#x309;ng v&ecirc;&#x300; th&#x1A1;&#x300;i gian, ti&ecirc;&#x309;n ba&#x323;c va&#x300; ha&#x323;nh phu&#x301;c cu&#x309;a gia &dstrok;i&#x300;nh be&#x301;. V&acirc;&#x323;y n&ecirc;n la&#x300;m th&ecirc;&#x301; na&#x300;o &dstrok;&ecirc;&#x309; cu&ocirc;&#x323;c s&ocirc;&#x301;ng cu&#x309;a ba me&#x323; &ocirc;ng ba&#x300; va&#x300; ba&#x309;n th&acirc;n be&#x301; &dstrok;&#x1B0;&#x1A1;&#x323;c thay &dstrok;&ocirc;&#x309;i kho&#x309;i ti&#x300;nh ca&#x309;nh e&#x301;o le na&#x300;y.
        p
          a(href='/chia-se-nguoi-benh-ve-xuat-huyet-giam-tieu-cau/19-thang-tuoi-bi-benh-giam-tieu-cau-tien-chat-cao-hon-nguoi-be.html', title='Chi tiết') Chi ti&#x1EBF;t &rarr;
      li
        p.title-art-list
          a(title='Giảm tiểu cầu do suy tủy có thể sử dụng ITP Bloodwell được không?',style="font-size:20px;font-weight:bold", href='/chia-se-nguoi-benh-ve-xuat-huyet-giam-tieu-cau/giam-tieu-cau-do-suy-tuy-co-the-su-dung-itpbloodwell-duoc-khong.html') Gia&#x309;m ti&ecirc;&#x309;u c&acirc;&#x300;u do suy tu&#x309;y co&#x301; th&ecirc;&#x309; s&#x1B0;&#x309; du&#x323;ng ITP Bloodwell &dstrok;&#x1B0;&#x1A1;&#x323;c kh&ocirc;ng?
        div
          a.images(title='Giảm tiểu cầu do suy tủy có thể sử dụng ITP Bloodwell được không?', href='/chia-se-nguoi-benh-ve-xuat-huyet-giam-tieu-cau/giam-tieu-cau-do-suy-tuy-co-the-su-dung-itpbloodwell-duoc-khong.html')
            img(src='/images/chiasenguoibenh2.jpg',width="200", alt='Giảm tiểu cầu do suy tủy có thể sử dụng ITP Bloodwell được không?', title='Giảm tiểu cầu do suy tủy có thể sử dụng ITP Bloodwell được không?')
        .intro_art
          p.art_date 01-04-2017 // 1,600 l&#x1B0;&#x1EE3;t xem
          p
            | B&ecirc;&#x323;nh xu&#x1EA5;t huy&#x1EBF;t gia&#x309;m ti&ecirc;&#x309;u co&#x301; r&acirc;&#x301;t nhi&ecirc;&#x300;u nguy&ecirc;n nh&acirc;n va&#x300; nguy&ecirc;n nh&acirc;n suy tu&#x309;y cu&#x303;ng la&#x300; m&ocirc;&#x323;t trong nh&#x1B0;&#x303;ng nguy&ecirc;n nh&acirc;n. Hi&ecirc;&#x323;n nay &dstrok;&ocirc;&#x301;i v&#x1A1;&#x301;i b&ecirc;&#x323;nh suy tu&#x309;y ca&#x301;c ba&#x301;c si&#x303; T&acirc;y Y v&acirc;&#x303;n &dstrok;ang &dstrok;au &dstrok;&#x1EA7;u ca&#x301;c ph&#x1B0;&#x1A1;ng pha&#x301;p ch&#x1B0;&#x303;a tri&#x323; chu&#x309; y&ecirc;&#x301;u v&acirc;&#x303;n la&#x300; du&#x300;ng thu&ocirc;&#x301;c t&acirc;y n&ecirc;&#x301;u kh&ocirc;ng &dstrok;a&#x301;p &#x1B0;&#x301;ng thu&ocirc;&#x301;c t&acirc;y thi&#x300; se&#x303; du&#x300;ng bi&ecirc;&#x323;n pha&#x301;p c&abreve;&#x301;t la&#x301;ch ho&#x1EB7;c gh&eacute;p t&#x1EE7;y. Nh&#x1B0;ng Gh&eacute;p t&#x1EE7;y &dstrok;&ograve;i h&#x1ECF;i chi ph&iacute; r&#x1EA5;t l&#x1EDB;n.Tuy nhi&ecirc;n nh&#x1EEF;ng ph&#x1B0;&#x1A1;ng pha&#x301;p na&#x300;y kh&ocirc;ng &dstrok;em la&#x323;i k&ecirc;&#x301;t qua&#x309; nh&#x1B0; ng&#x1B0;&#x1A1;&#x300;i b&ecirc;&#x323;nh mong mu&ocirc;&#x301;n. Do v&acirc;&#x323;y, chu&#x301;ng t&ocirc;i mu&ocirc;&#x301;n g&#x1B0;&#x309;i &dstrok;&ecirc;&#x301;n ca&#x301;c Quy&#x301; vi&#x323; m&ocirc;&#x323;t th&ocirc;ng &dstrok;i&ecirc;&#x323;p &dstrok;o&#x301; l&agrave; ph&#x1B0;&#x1A1;ng pha&#x301;p s&#x1B0;&#x309; du&#x323;ng tha&#x309;o d&#x1B0;&#x1A1;&#x323;c ITP Bloodwell k&ecirc;&#x301;t h&#x1A1;&#x323;p dinh d&#x1B0;&#x1A1;&#x303;ng &dstrok;&acirc;y th&#x1B0;&#x323;c s&#x1B0;&#x323; la&#x300; m&ocirc;&#x323;t ph&#x1B0;&#x1A1;ng pha&#x301;p h&#x1B0;&#x303;u hi&ecirc;&#x323;u. Chu&#x301;ng t&ocirc;i m&#x1A1;&#x300;i Quy&#x301; vi&#x323; xem ba&#x300;i vi&ecirc;&#x301;t d&#x1B0;&#x1A1;&#x301;i &dstrok;&acirc;y &dstrok;&ecirc;&#x309; co&#x301; th&ecirc;&#x309; l&#x1B0;&#x323;a cho&#x323;n ph&#x1B0;&#x1A1;ng pha&#x301;p ch&#x1B0;&#x303;a tri&#x323; cho ba&#x309;n th&acirc;n va&#x300; nh&#x1B0;&#x303;ng ng&#x1B0;&#x1A1;&#x300;i th&acirc;n y&ecirc;u cu&#x309;a mi&#x300;nh.
        p
          a(href='/chia-se-nguoi-benh-ve-xuat-huyet-giam-tieu-cau/giam-tieu-cau-do-suy-tuy-co-the-su-dung-itpbloodwell-duoc-khong.html', title='Chi tiết') Chi ti&#x1EBF;t &rarr;
      li
        p.title-art-list
          a(title='Tại sao ITP Bloodwell bị cháy hàng trước tết nguyên đán',style="font-size:20px;font-weight:bold", href='/chia-se-nguoi-benh-ve-xuat-huyet-giam-tieu-cau/tai-sao-itp-bloodwell-bi-chay-hang-truoc-tet-ngueyn-dan.html') Ta&#x323;i sao ITP Bloodwell bi&#x323; cha&#x301;y ha&#x300;ng tr&#x1B0;&#x1A1;&#x301;c t&ecirc;&#x301;t nguy&ecirc;n &dstrok;a&#x301;n
        div
          a.images(title='Tại sao ITP Bloodwell bị cháy hàng trước tết nguyên đán', href='/chia-se-nguoi-benh-ve-xuat-huyet-giam-tieu-cau/tai-sao-itp-bloodwell-bi-chay-hang-truoc-tet-ngueyn-dan.html')
            img(src='/images/chiasenguoibenh3.jpg',width="200", alt='Tại sao ITP Bloodwell bị cháy hàng trước tết nguyên đán', title='Tại sao ITP Bloodwell bị cháy hàng trước tết nguyên đán')
        .intro_art
          p.art_date 02-03-2017 // 836 l&#x1B0;&#x1EE3;t xem
          p
            | H&abreve;&#x309;n mo&#x323;i ng&#x1B0;&#x1A1;&#x300;i ai cu&#x303;ng bi&ecirc;&#x301;t b&acirc;&#x301;t k&ecirc;&#x309; bi&#x323; m&ocirc;&#x323;t c&abreve;n b&ecirc;&#x323;nh na&#x300;o du&#x300;ng nhi&ecirc;&#x300;u thu&ocirc;&#x301;c t&acirc;y &dstrok;&ecirc;&#x300;u kh&ocirc;ng t&ocirc;&#x301;t. Nh&acirc;&#x301;t la&#x300; &dstrok;&ocirc;&#x301;i v&#x1A1;&#x301;i nh&#x1B0;&#x303;ng b&ecirc;&#x323;nh &dstrok;au da&#x323; da&#x300;y kinh ni&ecirc;n, ti&ecirc;&#x309;u &dstrok;&#x1B0;&#x1A1;&#x300;ng, cao huy&ecirc;&#x301;t a&#x301;p, vi&ecirc;m gan B, suy th&acirc;&#x323;n, x&#x1A1; gan, hen suy&ecirc;&#x303;n&mldr;. &Dstrok;&abreve;&#x323;c bi&ecirc;&#x323;t la&#x300; b&ecirc;&#x323;nh xu&acirc;&#x301;t huy&ecirc;&#x301;t gia&#x309;m ti&ecirc;&#x309;u c&acirc;&#x300;u v&ocirc; c&abreve;n. Do ti&#x301;nh ch&acirc;&#x301;t cu&#x309;a b&ecirc;&#x323;nh na&#x300;y th&#x1B0;&#x1A1;&#x300;ng xuy&ecirc;n pha&#x309;i nh&acirc;&#x323;p vi&ecirc;&#x323;n n&ecirc;n Ba&#x301;c si&#x303; T&acirc;y Y th&#x1B0;&#x1A1;&#x300;ng k&ecirc; ca&#x301;c loa&#x323;i thu&ocirc;&#x301;c t&acirc;y du&#x300; ba&#x309;n th&acirc;n ba&#x301;c si&#x303; cu&#x303;ng bi&ecirc;&#x301;t la&#x300; &dstrok;&ocirc;&#x323;c ha&#x323;i nh&#x1B0;ng kh&ocirc;ng co&#x301; s&#x1B0;&#x323; l&#x1B0;&#x323;a cho&#x323;n.
        p
          a(href='/chia-se-nguoi-benh-ve-xuat-huyet-giam-tieu-cau/tai-sao-itp-bloodwell-bi-chay-hang-truoc-tet-ngueyn-dan.html', title='Chi tiết') Chi ti&#x1EBF;t &rarr;
    .container.pt-4
          .row(style="margin-left:28px")
              if  (pages)
                  nav
                      ul.pagination
                          if  (current == 1)
                              li.page-item.disabled
                                  a.page-link(href="#") First
                          else
                              li.page-item
                                  a.page-link(href="/chia-se-nguoi-benh") First
                          -   var i = (Number(current) > 3 ? Number(current) - 2 : 1)
                          if  (i !== 1)
                              a.page-link(href="#") ...
                          -   for (; i <= (Number(current) + 3) && i <= pages; i++)
                              if  (i == curent)
                                  li.page-item
                                      a.page-link(href="" + i)
                                          =i
                              else
                                  li.page-item
                                      a.page-link(href="/chia-se-nguoi-benh-" + i)
                                          =i
                          if  (i == Number(current) + 3 && i < pages)
                              li.page-item
                                  a.page-link(href="#") ...
                          if  (current == pages)
                              li.page-item.disabled
                                  a.page-link(href="#") Last
                          else
                              li.page-item
                                  a.page-link(href="/chia-se-nguoi-benh-"+ pages) Last
                                  