extends ../layouts/common

block content
  .container.pt-5
  .sfooter
    h1(style="color:#c30000") TH&#x1EF0;C PH&#x1EA8;M CH&#x1EE8;C N&Abreve;NG BLOODWELL D&Agrave;NH CHO B&#x1EC6;NH XU&#x1EA4;T HUY&#x1EBE;T GI&#x1EA2;M TI&#x1EC2;U C&#x1EA6;U
    h2
    p
      | S&#x1EA3;n ph&#x1EA9;m ch&#x1EE9;c n&abreve;ng Bloodwell l&agrave; s&#x1EA3;n ph&#x1EA9;m tuy&#x1EC7;t v&#x1EDD;i cho b&#x1EC7;nh xu&#x1EA5;t huy&#x1EBF;t gi&#x1EA3;m ti&#x1EC3;u c&#x1EA7;u, b&#x1EC7;nh s&#x1ED1;t xu&#x1EA5;t huy&#x1EBF;t, b&#x1EC7;nh ch&#x1EA3;y m&aacute;u d&#x1EA1; d&agrave;y, ch&#x1EA3;y m&aacute;u cam, b&#x1EC7;nh rong kinh , b&abreve;ng huy&#x1EBF;t ...Hi&#x1EC7;n nay s&#x1EA3;n ph&#x1EA9;m Bloodwell &dstrok;ang &dstrok;&#x1B0;&#x1EE3;c cung c&#x1EA5;p &dstrok;&#x1ED9;c quy&#x1EC1;n t&#x1EA1;i C&ocirc;ng Ty Long Vi&#x1EC7;t
  .wrapper
    .right_content
      .mid_content
        .ct-div-sub.post-content
          p
            | D&#x1B0;&#x1EE3;c th&#x1EA3;o Blood Well b&#x1EAF;t ngu&#x1ED3;n l&agrave; s&#x1EA3;n ph&#x1EA9;m c&#x1EE7;a C&ocirc;ng ty Get Well Natural l&agrave; th&#x1EA3;o m&#x1ED9;c thi&ecirc;n nhi&ecirc;n &dstrok;&#x1B0;&#x1EE3;c &dstrok;&#x1EB7;c ch&#x1EBF; ra nh&#x1EB1;m c&#x1EA3;i thi&#x1EC7;n m&aacute;u, ti&#x1EC3;u c&#x1EA7;u v&agrave; t&#x1EE7;y x&#x1B0;&#x1A1;ng. C&aacute;c th&agrave;nh ph&#x1EA7;n trong th&#x1EA3;o d&#x1B0;&#x1EE3;c Blood Well l&#x1EA7;n &dstrok;&#x1EA7;u ti&ecirc;n &dstrok;&#x1B0;&#x1EE3;c c&aacute;c b&aacute;c s&itilde; Y khoa v&agrave; Th&#x1EA1;c s&itilde;, l&#x1B0;&#x1A1;ng y s&#x1EED; d&#x1EE5;ng tr&ecirc;n 20 n&abreve;m qua v&igrave; t&#x1EA1;i Vi&#x1EC7;t Nam do thi&#x1EBF;u c&aacute;c ph&#x1B0;&#x1A1;ng ph&aacute;p &dstrok;i&#x1EC1;u tr&#x1ECB; th&iacute;ch h&#x1EE3;p v&agrave; hi&#x1EC7;u qu&#x1EA3; c&#x1EE7;a y h&#x1ECD;c ph&#x1B0;&#x1A1;ng T&acirc;y. D&#x1EF1;a tr&ecirc;n nghi&ecirc;n c&#x1EE9;u c&#x1EE7;a Ti&#x1EBF;n s&itilde; Ho&agrave;ng Xu&acirc;n Ba v&#x1EC1; Mi&#x1EC5;n d&#x1ECB;ch cho b&#x1EB1;ng ti&#x1EBF;n s&itilde; v&#x1EC1; b&#x1EC7;nh m&aacute;u ch&#x1EA3;y do thi&#x1EBF;u ti&#x1EC3;u c&#x1EA7;u( ITP), cho th&#x1EA5;y s&#x1EF1; m&#x1EA5;t c&acirc;n b&#x1EB1;ng nh&#x1EA5;t &dstrok;&#x1ECB;nh trong c&#x1A1; th&#x1EC3; c&oacute; th&#x1EC3; &dstrok;&#x1B0;a &dstrok;&#x1EBF;n b&#x1EC7;nh thi&#x1EBF;u m&aacute;u, b&#x1EA7;m t&iacute;m, m&#x1EA9;n &dstrok;&#x1ECF;, ch&#x1EA3;y m&aacute;u cam, v&agrave; gi&#x1EA3;m ti&#x1EC3;u c&#x1EA7;u v&ocirc; c&abreve;n (ITP) .* D&#x1B0;&#x1EE3;c th&#x1EA3;o Blood Well &dstrok;&oacute;ng m&#x1ED9;t vai tr&ograve; quan tr&#x1ECD;ng trong vi&#x1EC7;c h&#x1ED7; tr&#x1EE3; s&#x1EE9;c kh&#x1ECF;e &dstrok;&#x1EC3; gi&uacute;p c&#x1A1; th&#x1EC3; c&oacute; &dstrok;&#x1EE7; l&#x1B0;&#x1EE3;ng m&aacute;u &dstrok;&ocirc;ng v&agrave; ch&#x1EE9;c n&abreve;ng t&#x1EE7;y x&#x1B0;&#x1A1;ng ho&#x1EA1;t &dstrok;&#x1ED9;ng t&#x1ED1;t .*
          p
            | D&#x1B0;&#x1EE3;c th&#x1EA3;o Blood Well &dstrok;&atilde; &dstrok;&#x1B0;&#x1EE3;c s&#x1EED; d&#x1EE5;ng b&#x1EDF;i h&agrave;ng ng&agrave;n ng&#x1B0;&#x1EDD;i b&#x1ECB; 
            span(style='color:#0000ff;')
              span(style='font-size:14px;')
                em
                  strong b&#x1EC7;nh xu&#x1EA5;t huy&#x1EBF;t gi&#x1EA3;m ti&#x1EC3;u c&#x1EA7;u
            |  tr&ecirc;n to&agrave;n th&#x1EBF; gi&#x1EDB;i &dstrok;&#x1EC3; h&#x1ED7; tr&#x1EE3; cho m&aacute;u v&agrave; ti&#x1EC3;u c&#x1EA7;u ho&#x1EA1;t &dstrok;&#x1ED9;ng t&#x1ED1;t.* D&#x1B0;&#x1EE3;c th&#x1EA3;o n&agrave;y c&oacute; th&#x1EC3; u&#x1ED1;ng li&ecirc;n t&#x1EE5;c trong 12 th&aacute;ng v&agrave; sau &dstrok;&oacute; khi b&#x1EA1;n c&oacute; th&#x1EC3; ti&#x1EBF;p t&#x1EE5;c u&#x1ED1;ng v&#x1EDB;i s&#x1ED1; l&#x1B0;&#x1EE3;ng &half; so v&#x1EDB;i l&uacute;c &dstrok;&#x1EA7;u &dstrok;&#x1EC3; duy tr&igrave; s&#x1EF1; &#x1ED5;n &dstrok;&#x1ECB;nh trong c&#x1A1; th&#x1EC3; .*
          p(style='text-align: center;')
            | Hi&#x1EC7;n nay t&#x1EA1;i Vi&#x1EC7;t Nam Th&#x1EA3;o M&#x1ED9;c H&#x1B0;&#x1A1;ng &dstrok;&atilde; cho ra &dstrok;&#x1EDD;i Th&#x1EF1;c ph&#x1EA9;m ch&#x1EE9;c N&abreve;ng Bloodwell d&agrave;nh &dstrok;&#x1EB7;c bi&#x1EC7;t cho 
            span(style='color:#0000ff;')
              span(style='font-size:14px;')
                em
                  strong b&#x1EC7;nh xu&#x1EA5;t huy&#x1EBF;t gi&#x1EA3;m ti&#x1EC3;u c&#x1EA7;u
            | , s&#x1ED1;t xu&#x1EA5;t huy&#x1EBF;t, ch&#x1EA3;y m&aacute;u ch&acirc;n r&abreve;ng, ch&#x1EA3;y m&aacute;u cam, ch&#x1EA3;y m&aacute;u ti&ecirc;u h&oacute;a, rong kinh v&agrave; b&abreve;ng huy&#x1EBF;t
          p(style='text-align: center;')
          p(style='text-align: center;')
            img(alt='Thực phẩm chức năng Bloodwell', src='/images/giamtieucau.jpg', style='width: 220px; height: 300px;')
          p(style='text-align: center;')
            | ITP Bloodwell d&agrave;nh cho
            span(style='font-size:12px;')
              strong
                em  
              | b&#x1EC7;nh xu&#x1EA5;t huy&#x1EBF;t gi&#x1EA3;m ti&#x1EC3;u c&#x1EA7;u.
          p(style='text-align: center;')
          p
            | V&#x1EDB;i c&aacute;c th&agrave;nh ph&#x1EA7;n Th&agrave;nh ph&#x1EA7;n:
          p
            | C&#x1ECF; Nh&#x1ECD; n&#x1ED3;i ( Eclipta)
          p
            | Th&#x1EE5;c &dstrok;&#x1ECB;a &nbsp;Ho&agrave;ng (Rehmannia)
          p
            | Di&#x1EC7;p h&#x1EA1; ch&acirc;u Ch&oacute; &dstrok;&#x1EBB; r&abreve;ng c&#x1B0;a ( Phyllanthus)
          p
            | Ho&agrave;ng k&#x1EF3; (Astragalus)
          p
            | Long nha th&#x1EA3;o (ti&ecirc;n h&#x1EA1;c th&#x1EA3;o) (Long detal
            span(style='font-size:12px;')
              span(style='font-family: arial, sans-serif;') conference)
          p
            | Tr&#x1EA1;ch t&#x1EA3; ( Alisma)
          p
            | L&#x1ECD; c&oacute; 60 vi&ecirc;n n&eacute;n
          p
          p
            span(style='color:#0000ff;')
              span(style='font-size:16px;')
                em
                  strong &Dstrok;i&#x1EC3;m n&#x1ED5;i b&#x1EAD;t c&#x1EE7;a s&#x1EA3;n ph&#x1EA9;m
            | :
          p
            | I, C&ocirc;ng d&#x1EE5;ng s&#x1EA3;n ph&#x1EA9;m:
          p
            | 1, C&aacute;c th&agrave;nh ph&#x1EA7;n c&oacute; t&aacute;c d&#x1EE5;ng c&#x1EA7;m m&aacute;u m&#x1EA1;nh (c&#x1ECF; nh&#x1ECD; n&#x1ED3;i, long nha th&#x1EA3;o, &dstrok;&#x1ECB;a&nbsp; ho&agrave;ng), &dstrok;&atilde; &dstrok;&#x1B0;&#x1EE3;c s&#x1EED; d&#x1EE5;ng t&#x1EEB; l&acirc;u trong y h&#x1ECD;c c&#x1ED5; truy&#x1EC1;n Vi&#x1EC7;t Nam v&agrave; nhi&#x1EC1;u n&#x1B0;&#x1EDB;c tr&ecirc;n th&#x1EBF; gi&#x1EDB;i. &Dstrok;&#x1ED3;ng th&#x1EDD;i, hi&#x1EC7;u qu&#x1EA3; c&#x1EA7;m m&aacute;u c&#x1EE7;a c&aacute;c th&#x1EA3;o d&#x1B0;&#x1EE3;c &dstrok;&atilde; &dstrok;&#x1B0;&#x1EE3;c ch&#x1EE9;ng minh qua th&#x1EF1;c ti&#x1EC5;n s&#x1EED; d&#x1EE5;ng tr&ecirc;n l&acirc;m s&agrave;ng cho ng&#x1B0;&#x1EDD;i 
            span(style='color:#0000ff;')
              span(style='font-size:14px;')
                em
                  strong b&#x1EC7;nh xu&#x1EA5;t huy&#x1EBF;t gi&#x1EA3;m ti&#x1EC3;u c&#x1EA7;u&nbsp;
          p
            | 2, C&aacute;c th&agrave;nh ph&#x1EA7;n c&oacute; t&aacute;c d&#x1EE5;ng c&#x1EE7;ng c&#x1ED1; ch&#x1EE9;c n&abreve;ng mi&#x1EC5;n d&#x1ECB;ch c&#x1EE7;a c&#x1A1; th&#x1EC3;, gi&uacute;p &dstrok;i&#x1EC1;u h&ograve;a mi&#x1EC5;n d&#x1ECB;ch, gi&#x1EA3;m nh&#x1EEF;ng sai s&oacute;t g&acirc;y ra b&#x1EDF;i s&#x1EF1; r&#x1ED1;i lo&#x1EA1;n ch&#x1EE9;c n&abreve;ng mi&#x1EC5;n d&#x1ECB;ch, nh&#x1B0; g&acirc;y ra c&aacute;c b&#x1EC7;nh t&#x1EF1; mi&#x1EC5;n d&#x1ECB;ch (h&#x1EC7; mi&#x1EC5;n d&#x1ECB;ch ti&ecirc;u di&#x1EC7;t ch&iacute;nh c&aacute;c th&agrave;nh ph&#x1EA7;n kh&#x1ECF;e m&#x1EA1;nh trong c&#x1A1; th&#x1EC3; do s&#x1EF1; nh&#x1EA7;m l&#x1EAB;n v&#x1EC1; nh&#x1EAD;n di&#x1EC7;n)
          p
            | Vi&#x1EC7;c t&abreve;ng c&#x1B0;&#x1EDD;ng mi&#x1EC5;n d&#x1ECB;ch, ch&#x1ED1;ng vi&ecirc;m c&#x1EE7;a c&aacute;c th&agrave;nh ph&#x1EA7;n trong ITP Bloodwell c&ograve;n gi&uacute;p ng&abreve;n ng&#x1EEB;a v&agrave; gi&#x1EA3;m t&aacute;c h&#x1EA1;i g&acirc;y ra b&#x1EDF;i qu&aacute; tr&igrave;nh vi&ecirc;m nhi&#x1EC5;m nh&#x1B0;: l&agrave;m bi&#x1EBF;n &dstrok;&#x1ED5;i v&#x1EAD;t li&#x1EC7;u di truy&#x1EC1;n g&acirc;y ung th&#x1B0;, l&agrave;m gi&#x1EA3;m ch&#x1EA5;t l&#x1B0;&#x1EE3;ng t&#x1EBF; b&agrave;o (trong &dstrok;&oacute; c&oacute; t&#x1EBF; b&agrave;o m&aacute;u ti&#x1EC3;u c&#x1EA7;u) &dstrok;&#x1EB7;c bi&#x1EC7;t t&abreve;ng c&#x1B0;&#x1EDD;ng mi&#x1EC5;n d&#x1ECB;ch cho ng&#x1B0;&#x1EDD;i 
            span(style='color:#0000ff;')
              span(style='font-size:14px;')
                em
                  strong b&#x1EC7;nh xu&#x1EA5;t huy&#x1EBF;t gi&#x1EA3;m ti&#x1EC3;u c&#x1EA7;u.
          p
            | 3,H&#x1EA1;n ch&#x1EBF; t&aacute;c d&#x1EE5;ng ph&#x1EE5; c&#x1EE7;a corticoid (trong tr&#x1B0;&#x1EDD;ng h&#x1EE3;p c&oacute; ph&#x1ED1;i h&#x1EE3;p c&ugrave;ng c&aacute;c bi&#x1EC7;n ph&aacute;p &dstrok;i&#x1EC1;u tr&#x1ECB; t&iacute;ch c&#x1EF1;c th&ocirc;ng th&#x1B0;&#x1EDD;ng/ thay th&#x1EBF; &dstrok;i&#x1EC1;u tr&#x1ECB; c&#x1EE7;a corticoid do c&oacute; t&aacute;c d&#x1EE5;ng t&#x1B0;&#x1A1;ng t&#x1EF1; nh&#x1B0; corticoid tr&ecirc;n c&aacute;c b&#x1EC7;nh t&#x1EF1; mi&#x1EC5;n)
          p
            | -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &Dstrok;&#x1ECB;a ho&agrave;ng c&oacute; t&aacute;c d&#x1EE5;ng ch&#x1ED1;ng vi&ecirc;m, c&#x1EA7;m m&aacute;u, &dstrok;&#x1EB7;c bi&#x1EC7;t c&oacute; t&aacute;c d&#x1EE5;ng &#x1EE9;c ch&#x1EBF; mi&#x1EC5;n d&#x1ECB;ch ki&#x1EC3;u corticoid nh&#x1B0;ng kh&ocirc;ng &#x1EE9;c ch&#x1EBF; hay l&agrave;m teo nh&#x1ECF; t&#x1EE7;y th&#x1B0;&#x1EE3;ng th&#x1EAD;n (h&#x1EA1;n ch&#x1EBF; t&aacute;c d&#x1EE5;ng ph&#x1EE5; c&#x1EE7;a corticoid cho ng&#x1B0;&#x1EDD;i 
            span(style='color:#0000ff;')
              span(style='font-size:14px;')
                em
                  strong b&#x1EC7;nh xu&#x1EA5;t huy&#x1EBF;t gi&#x1EA3;m ti&#x1EC3;u c&#x1EA7;u.
          p
            | Tr&ecirc;n h&#x1EC7; mi&#x1EC5;n d&#x1ECB;ch: N&#x1B0;&#x1EDB;c s&#x1EAF;c Th&#x1EE5;c &nbsp;&dstrok;&#x1ECB;a ho&agrave;ng l&agrave;m t&abreve;ng ho&#x1EA1;t t&iacute;nh t&#x1EA1;o ph&acirc;n b&agrave;o c&#x1EE7;a phorbol myristat acetat v&agrave; phytohemaglutimin tr&ecirc;n t&#x1EBF; b&agrave;o l&aacute;ch c&#x1EE7;a chu&#x1ED9;t c&#x1ED1;ng tr&#x1EAF;ng. Nh&#x1B0;ng kh&ocirc;ng c&oacute; th&#x1EC3; hi&#x1EC7;n khi kh&ocirc;ng c&oacute; c&aacute;c ch&#x1EA5;t t&#x1EA1;o ph&acirc;n b&agrave;o tr&ecirc;n. &Dstrok;i&#x1EC1;u n&agrave;y ch&#x1EE9;ng t&#x1ECF; Th&#x1EE5;c &dstrok;&#x1ECB;a ho&agrave;ng c&oacute; t&aacute;c d&#x1EE5;ng k&iacute;ch th&iacute;ch v&agrave; &dstrok;i&#x1EC1;u ho&agrave; mi&#x1EC5;n d&#x1ECB;ch. &Dstrok;&#x1ECB;a ho&agrave;ng th&#x1EC3; hi&#x1EC7;n ho&#x1EA1;t t&iacute;nh &#x1EE9;c ch&#x1EBF; mi&#x1EC5;n d&#x1ECB;ch tr&ecirc;n in vivo c&#x1EE7;a c&aacute;c ho&#x1EA1;t ch&#x1EA5;t 2 &ndash; phenylethyl glycosid, c&aacute;c jionosid A1 v&agrave; B1. Khi th&#x1EED; nghi&#x1EC7;m k&#x1EBF;t h&#x1EE3;p s&#x1EED; d&#x1EE5;ng &Dstrok;&#x1ECB;a ho&agrave;ng v&agrave; glucocorticoid &#x1EDF; tr&ecirc;n th&#x1ECF;, th&#x1EA5;y &Dstrok;&#x1ECB;a ho&agrave;ng kh&ocirc;ng l&agrave;m m&#x1EA5;t t&aacute;c d&#x1EE5;ng c&#x1EE7;a corticoid, nh&#x1B0;ng h&#x1EA1;n ch&#x1EBF; c&aacute;c t&aacute;c d&#x1EE5;ng kh&ocirc;ng mong mu&#x1ED1;n c&#x1EE7;a corticoid tr&ecirc;n tuy&#x1EBF;n y&ecirc;n v&agrave; th&#x1B0;&#x1EE3;ng th&#x1EAD;n c&#x1EE7;a th&#x1ECF;.
          p
            | -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tr&#x1EA1;ch t&#x1EA3; : t&abreve;ng &dstrok;&agrave;o th&#x1EA3;i Na+ v&agrave;&nbsp; K+, l&#x1EE3;i ti&#x1EC3;u, ch&#x1ED1;ng ph&ugrave; th&utilde;ng (gi&#x1EA3;m t&aacute;c d&#x1EE5;ng ph&#x1EE5; g&acirc;y gi&#x1EA3;m &dstrok;&agrave;o th&#x1EA3;i K+ v&agrave; Na+ g&acirc;y t&iacute;ch n&#x1B0;&#x1EDB;c, ph&ugrave; n&#x1EC1; &mldr;c&#x1EE7;a corticoid),
          p
            | 4, Gi&#x1EA3;i quy&#x1EBF;t c&abreve;n nguy&ecirc;n b&#x1EC7;nh l&yacute; : t&abreve;ng s&#x1ED1; l&#x1B0;&#x1EE3;ng v&agrave; ch&#x1EA5;t l&#x1B0;&#x1EE3;ng ti&#x1EC3;u c&#x1EA7;u ( Thuc &dstrok;&#x1ECB;a ho&agrave;ng, tr&#x1EA1;ch t&#x1EA3;, ho&agrave;ng k&#x1EF3;) cho ng&#x1B0;&#x1EDD;i b&#x1ECB; 
            span(style='color:#0000ff;')
              span(style='font-size:14px;')
                em
                  strong b&#x1EC7;nh xu&#x1EA5;t huy&#x1EBF;t gi&#x1EA3;m ti&#x1EC3;u c&#x1EA7;u&nbsp;
          p
            | C&aacute;c th&agrave;nh ph&#x1EA7;n c&oacute; t&aacute;c d&#x1EE5;ng b&#x1ED5; m&aacute;u, t&abreve;ng sinh t&#x1EBF; b&agrave;o m&aacute;u t&#x1EA1;i t&#x1EE7;y x&#x1B0;&#x1A1;ng, t&abreve;ng sinh t&acirc;n d&#x1ECB;ch, ng&abreve;n ch&#x1EB7;n c&aacute;c b&#x1EA5;t th&#x1B0;&#x1EDD;ng trong qu&aacute; tr&igrave;nh sinh t&#x1ED5;ng h&#x1EE3;p t&#x1EBF; b&agrave;o ti&#x1EC3;u c&#x1EA7;u, gi&uacute;p &#x1ED5;n &dstrok;&#x1ECB;nh ch&#x1EA5;t l&#x1B0;&#x1EE3;ng t&#x1EBF; b&agrave;o ti&#x1EC3;u c&#x1EA7;u.
          p
            | 5, D&ugrave;ng t&#x1ED1;t cho c&#x1EA3; c&aacute;c b&#x1EC7;nh nh&acirc;n b&#x1ECB;
            span(style='color:#0000ff;')
              span(style='font-size:14px;')
                em
                  strong  b&#x1EC7;nh xu&#x1EA5;t huy&#x1EBF;t gi&#x1EA3;m ti&#x1EC3;u c&#x1EA7;u
            |  t&aacute;i ph&aacute;t sau c&#x1EAF;t l&aacute;ch v&agrave; kh&ocirc;ng &dstrok;&aacute;p &#x1EE9;ng v&#x1EDB;i c&aacute;c bi&#x1EC7;n ph&aacute;p &dstrok;i&#x1EC1;u tr&#x1ECB; th&ocirc;ng th&#x1B0;&#x1EDD;ng &ndash; &dstrok;&#x1ED1;i v&#x1EDB;i ITP.
          p
            | (B&aacute;o c&aacute;o th&#x1EF1;c nghi&#x1EC7;m l&acirc;m s&agrave;ng c&#x1EE7;a nh&oacute;m nghi&ecirc;n c&#x1EE9;u BS. Ba.)
          p
            | 6, Thanh nhi&#x1EC7;t gi&uacute;p gi&#x1EA3;m t&igrave;nh tr&#x1EA1;ng n&oacute;ng trong g&acirc;y ch&#x1EA3;y m&aacute;u : ch&#x1EA3;y m&aacute;u cam, ch&#x1EA3;y m&aacute;u ch&acirc;n r&abreve;ng.
          p
            | C&aacute;c th&agrave;nh ph&#x1EA7;n c&oacute; t&aacute;c d&#x1EE5;ng thanh nhi&#x1EC7;t, l&agrave;m m&aacute;t huy&#x1EBF;t, &dstrok;&atilde; &dstrok;&#x1B0;&#x1EE3;c s&#x1EED; d&#x1EE5;ng t&#x1EEB; l&acirc;u cho c&aacute; c ch&#x1EE9;ng ch&#x1EA3;y m&aacute;u do huy&#x1EBF;t nhi&#x1EC7;t. (c&#x1ECF; nh&#x1ECD; n&#x1ED3;i, di&#x1EC7;p h&#x1EA1; ch&acirc;u, long nha th&#x1EA3;o, &dstrok;&#x1ECB;a ho&agrave;ng)
          p
            | 7, H&#x1ED7; tr&#x1EE3; t&#x1ED1;t cho c&aacute;c 
            span(style='color:#0000ff;')
              span(style='font-size:14px;')
                em
                  strong b&#x1EC7;nh &nbsp;xu&#x1EA5;t huy&#x1EBF;t gi&#x1EA3;m ti&#x1EC3;u c&#x1EA7;u
            |  &dstrok;i k&egrave;m ho&#x1EB7;c/v&agrave; do nguy&ecirc;n nh&acirc;n t&#x1EEB; c&aacute;c b&#x1EC7;nh l&yacute; : vi&ecirc;m gan, lo&eacute;t d&#x1EA1; d&agrave;y t&aacute; tr&agrave;ng do nhi&#x1EC5;m H.pylori, AIDS:
          p(style='text-align: center;')
        .share-this-wrap
          .fl(style='margin-right:10px;')
            .fb-like.fb_iframe_widget(data-send='false', data-layout='button_count', data-width='100', data-show-faces='false', fb-xfbml-state='rendered', fb-iframe-plugin-query='app_id=&container_width=0&href=http%3A%2F%2Fgiamtieucau.com%2Fgioi-thieu-san-pham%2F&layout=button_count&locale=en_US&sdk=joey&send=false&show_faces=false&width=100')
              span(style='vertical-align: bottom; width: 61px; height: 20px;')
                iframe(name='f3cff2aba35b4a', width='100px', height='1000px', frameborder='0', allowtransparency='true', allowfullscreen='true', scrolling='no', allow='encrypted-media', title='fb:like Facebook Social Plugin', src='https://www.facebook.com/plugins/like.php?app_id=&channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D44%23cb%3Df22a4bf3a8e8ca8%26domain%3Dgiamtieucau.com%26origin%3Dhttp%253A%252F%252Fgiamtieucau.com%252Ff105e3da9b12394%26relation%3Dparent.parent&container_width=0&href=http%3A%2F%2Fgiamtieucau.com%2Fgioi-thieu-san-pham%2F&layout=button_count&locale=en_US&sdk=joey&send=false&show_faces=false&width=100', style='border: none; visibility: visible; width: 61px; height: 20px;')
          .fl
            #___plusone_0(style='position: absolute; width: 450px; left: -10000px;')
              iframe#I0_1559637558282(ng-non-bindable='', frameborder='0', hspace='0', marginheight='0', marginwidth='0', scrolling='no', style='position:absolute;top:-10000px;width:450px;margin:0px;border-style:none', tabindex='0', vspace='0', width='100%', name='I0_1559637558282', src='https://apis.google.com/u/0/se/0/_/+1/fastbutton?usegapi=1&size=medium&hl=vi&origin=http%3A%2F%2Fgiamtieucau.com&url=http%3A%2F%2Fgiamtieucau.com%2Fgioi-thieu-san-pham%2F&gsrc=3p&ic=1&jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.vi.qR4pPSSMk9M.O%2Fam%3DwQE%2Fd%3D1%2Frs%3DAGLTcCNNEK7rVIr4VFoH4mIg2pxfYX6bfw%2Fm%3D__features__#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh%2Conload&id=I0_1559637558282&_gfid=I0_1559637558282&parent=http%3A%2F%2Fgiamtieucau.com&pfname=&rpctoken=29821822', data-gapiattached='true')
            .g-plusone(data-size='medium', data-gapiscan='true', data-onload='true', data-gapistub='true')
          ul.share-socials(style="padding-top:10px")
              a(href='#', target='_blank', title='Facebook')
                img(alt='Facebook', src='/images/facebook_32.png')
              a(href='#', target='_blank', title='Google plus')
                img(alt='Google plus', src='/images/google_32.png')
              a(href='#', target='_blank', title='Twitter')
                img(alt='Twitter', src='/images/twitter_32.png')
