extends ../layouts/common

block content

    h1 Products
    .container.pt-3
        .row
            each product in products
                .col-sm-3.cart-grid
                    .card.img
                        img.card-img-top.wow.tada(src=product.image, alt='...')
                        .card-body
                            h5.card-title(style="font-weight:bold;font-size:15")= product.name
                            p.card-text(style="color:red") #{product.price} VND
                            .chitiet
                                a.button.btn.btn-success(href='#') Chi tiết
                                a.buttons.btn.btn-success(href='/cart/add/' + product.id) Add to cart
        nav(aria-label='Page navigation example')
            ul.pagination
                li.page-item
                a.page-link(href='/products?page=1', aria-label='Previous')
                    span(aria-hidden='true') &laquo;
                li.page-item
                    a.page-link(href='/products?page=1') 1
                    li.page-item
                    a.page-link(href='/products?page=2') 2
                    li.page-item
                    a.page-link(href='/products?page=3') 3
                    li.page-item
                    a.page-link(href='products?page=4', aria-label='Next')
                        span(aria-hidden='true') &raquo;
                            
