extends ../layouts/common

block content

    h1 Products
    .container.pt-3
        .row
            each product in products
                .col-sm-3.cart-grid
                    .card.img
                        img.card-img-top.wow.tada(src=product.image, alt='...')
                        .card-body
                            h5.card-title(style="font-weight:bold;font-size:15")= product.name
                            p.card-text(style="color:red") #{product.price} VND
                            .chitiet
                                a.button.btn.btn-success(href='#') Chi tiết
                                a.buttons.btn.btn-success(href='/cart/add/' + product.id) Add to cart
    .container.pt-4
        .row
            if  (pages)
                nav
                    ul.pagination
                        if  (current == 1)
                            li.page-item.disabled
                                a.page-link(href="#") First
                        else
                            li.page-item
                                a.page-link(href="/products?page=1") First
                        -   var i = (Number(current) > 3 ? Number(current) - 2 : 1)
                        if  (i !== 1)
                            a.page-link(href="#") ...
                        -   for (; i <= (Number(current) + 3) && i <= pages; i++)
                            if  (i == curent)
                                li.page-item
                                    a.page-link(href="" + i)
                                        =i
                            else
                                li.page-item
                                    a.page-link(href="/products?page=" + i)
                                        =i
                        if  (i == Number(current) + 3 && i < pages)
                            li.page-item
                                a.page-link(href="#") ...
                        if  (current == pages)
                            li.page-item.disabled
                                a.page-link(href="#") Last
                        else
                            li.page-item
                                a.page-link(href="/products?page="+ pages) Last
